<% provide(:title, "New User") %>
<h1>Create your profile</h1>
  <div class="col-lg-offset-3 col-sm-6 col-md-6">
    <%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group">
        <p><I>* Denotes a required field.</I></p>
        <%= f.label :name, "Name*", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, "Email*", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :institution, class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :institution, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <p><I>(Minimum 6 Characters)</I></p>
        <%= f.label :password, "Password*", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password*", class: "col-md-4 control-label" %>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>

      <%= f.submit "Create Profile", class: "btn btn-lg btn-primary col-lg-offset-4 col-md-3 " %>
    <% end %>
  </div>
