<body class="users">
<title><% provide(:title, @user.name) %></title>
<div class="row">
  <aside class="span4">
    <section>
       <h1>
         <%= gravatar_for @user %>
         <%= @user.name %>
         <br>
         <%= @user.institution %>
       </h1>
     </section>
   </aside>
 </div>

 <div class="row">
   <section>
     <h1 class="h1">
       Music Libraries
     </h1>
     <hr class="center">
     <div class="span12">
       <% if @user.libraries.any? %>
         <h3>Libraries (<%= @user.libraries.count %>)</h3>
           <ol class="libraries">
             <%= render @libraries %>
           </ol>
         <% end %>
       </div>
       <p>
         <%= link_to "Add Library", new_library_path , class: "btn btn-large btn-primary" %>
       </p>
   </section>
 </div>
</body>
