<title><% provide(:title, @user.name) %></title>
<div class="row">
  <aside class="span4">
    <section>
       <h1>
         <%= gravatar_for @user %>
         <%= @user.name %>
         <br>
         <%= @user.institution %>
       </h1>
     </section>
   </aside>
 </div>

 <div class="row">
   <section>
     <h1 class="h1">
       Music Libraries
     </h1>
     <!-- TO DO GENERATE LIBRARIES -->
       <p>
         <%= link_to "Add Library", '#', class: "btn btn-large btn-primary" %>
         <%= link_to "Remove Library", '#', class: "btn btn-large btn-primary" %>
       </p>
   </section>
 </div>
