<% provide(:title, 'Edit Library') %>
<h1>Edit a Library</h1>

  <div class="col-sm-6 col-md-6">
    <%= form_for @library, :html => {:class => "form-horizontal center"} do |f| %>
      <%= render 'shared/library_error_messages' %>

      <div class="form-group">
        <p><I>* Denotes a required field.</I></p>
      <%= f.label :name, "Name*", class: "col-md-1 control-label" %>
      <div class="col-md-8">
      <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
   
      <p class="col-sm-offset-1">
        <%= f.submit "Save", class: "btn btn-sm btn-primary col-md-3" %>
        <%= link_to  "Cancel", current_user , class: "btn btn-sm btn-primary col-sm-offset-1 col-md-3" %>
      </p>
    <% end %>
  </div>
</div>
